*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

/* body{
    background-color: #11114b;
}

p,h3{
    color: #fff;
} */



header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px #00000011;
    z-index: 100;
}

header nav .menu-barger{
    display: none;
    cursor: pointer;
}

header nav .menu-barger i{
   font-size: 25px;
}

/* Menu-responsivo */
.menu-dropdown{
    width: 250px;
    position: fixed;
    top: 49px;
    right: 0;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 8px #0000004a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    display: none;
    padding: 8px;
}

.menu-dropdown ul{
    width: 100%;
}

.menu-dropdown ul li{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    list-style: none;
    text-align: center;
    transition: 1s;
}

.menu-dropdown ul li:hover{
    background-color: #f7ca4d57;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000014;
}

.menu-dropdown ul li a{
    text-decoration: none;
    color: #000000;
    padding: 1rem;
}


.menu-dropdown .call{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 9px 2rem 9px 2rem;
    background-color: #f7c94d;
    border-radius: 5px;
}

.menu-dropdown .call a{
    color: #fff;
    text-decoration: none;
}

header nav .logo{
   color: black;
   font-size: 20px;
   font-weight: 800;
}

header nav .logo span{
    color: #f7c94d;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding-left: 2rem;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: border 0.3s;
}

header nav ul li a:hover{
    border-bottom: 4px solid #f9e18b;
}

header nav .call{
    padding: 8px 1rem 8px 1rem;
    background-color: #f7c94d;
    border-radius: 7px;
    transition: 1s;
}

header nav .call:hover{
    animation: identifier 1s infinite alternate ease-in-out;
}

@keyframes identifier {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

header nav .call a{
    text-decoration: none;
    color: #fff;
}

main{
    width: 100%;
    padding-top: 10rem;
}

main .hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

main .hero .text{
   padding-top: 2rem;
}

main .hero .text h1{
    font-size: 35px;
    margin-bottom: 10px;
}

main .hero .text h1 span{
    color: #f7c94d;
    font-size: 25px;
}

main .hero .text p{
    font-size: 18px;
    margin-bottom: 10px;
}

main .hero .text .icon{
    display: flex;
    margin: 10px;
}

main .hero .text .icon i{
    padding: 5px;
    font-size: 25px;
    color: #000;
}


main .hero .text .botao{
    
}

main .hero .text button{
    padding: 10px 2rem 10px 2rem;
    background-color: #f7c94d;
    color: #ffffff;
    font-weight: 800;
    border-radius:5px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 10px;
}



main .hero .text button:hover{
    background: transparent;
    border: 2px solid #f7c94d; 
    color: #f7c94d; 
}

main .hero .text  button:nth-child(2){
    background: transparent;
    padding: 8px 2rem 8px 2rem;
    border: 2px solid #f7c94d;
    border-radius: 5px;
    transition: 0.5s;
}

main .hero .text  button:nth-child(2):hover{
    color: #ffffff;
    background-color: #f7c94d;
}

main .hero .text button:nth-child(2) a{
    text-decoration: none;
    color: #f7c94d;
}

main .hero .text button:nth-child(2) a:hover{
    color: #fff;
}

main .hero .self img{
    border: 10px solid #f7c94d;
    border-radius: 50%;
    box-shadow: 0 0 8px #0000004a;
    animation: pulsante 1s infinite alternate ease-in-out;
}

@keyframes pulsante {
    from{
        transform: translateY(1rem);
    }

}

section{
    width: 100%;
    padding-top: 15rem;
}

.about{
    width: 100%;
    margin-top: 3rem;
}

.about h1, .about h3{
    text-align: center;
    margin-bottom: 10px;
}

.about h1{
    font-size: 32px;
    font-weight: 800;
}

.about h3{
    font-size: 15px;
    font-weight:300;
    color: #666;
}

.about .menu{
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about .menu .about-img img{
    border: 10px solid #f7c94d;
    border-radius: 50%;
    box-shadow: 0 0 8px #0000004a;
}

.about .menu .about-text{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    max-width: 600px;
}

.about .menu .about-text h2{
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 26px;
}

.about .about-text h2 span{
    color: #f7c94d;
}

.about .about-text p{
    line-height: 1.7;
    margin-bottom: 18px;
    font-size: 14px;
    color: #333;
}

.about .menu .personal{
    margin-top: 1rem;
}

.about .menu .personal .per-inf{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
}

.about .menu .personal .per-inf p span{
    font-weight: 800;
    padding-right: 5px;
}

.about .about-text .buttons button{
    background-color: #f7c94d;
    padding: 10px 2rem;
    color: #ffffff;
    font-weight: 800;
    border-radius:5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.about .about-text .buttons button a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.about .about-text .buttons button:nth-child(2){
    background: transparent;
    padding: 9px 2rem;
    border: 2px solid #f7c94d;
}

.about .about-text .buttons button:nth-child(2) a{
    color: #f7c94d;
    font-size: 13px;
}

.about .menu .about-card{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.about .menu .about-card .card-men{
    width: 260px;
    background-color: #f7c94d;
    margin-right: 14px;
    border-radius: 10px;
    overflow: hidden;
}

.about .menu .about-card .card-men .ico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.about .menu .about-card .card-men .ico p{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.about .menu .about-card .card-men .inf{
    font-size: 13px;
    font-weight: 800;
    color: #000000;
    padding: 8px;
}

.about .menu .about-card .card-men .inf span{
    font-size: 10px;
    color: #ffffff;
}

.skills {
    width: 80%;
    margin: 60px auto;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.skill {
    margin-bottom: 25px;
}

.skill-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}

.bar {
    width: 100%;
    height: 12px;
    background: #1d2030;
    border-radius: 6px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #f7c94d);
    border-radius: 6px;
    transition: width 2s ease-in-out;
}



.project{
    width: 100%;
    padding-top: 8rem;
}

.project h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
}

.project .men{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
}

.project .men .card{
    border-radius: 7px;
    box-shadow:  0 0 10px #00000064;
    width: 300px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #ffffff;
}

.project .men .card .card-img{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.project .men .card .card-img img{
    width: 100%;
    object-fit: cover;
    height: 180px;  
}

.project .men .card .card-text h3{

}

.project .men .card .card-text p{
    font-size: 18px;
    padding: 10px;
}

.project .men .card .card-text button{
    background-color: #f7c94d;
    padding: 10px 2rem 10px 2rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.project .men .card .card-text button a{
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
}



@media(max-width: 950px){
   .about .menu{
      padding: 1rem;
   }
   .about .menu .about-img img{
    width: 250px;
   }

}

.footer {
    margin-top: 4rem;
    background: #0f0f0f;
    color: #ffffff;
    padding: 3rem 1rem 1rem 1rem;
}

.footer-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.footer-brand h1 {
    font-size: 32px;
    font-weight: 900;
}

.footer-brand span {
    color: #f7c94d;
}

.footer-brand p {
    margin-top: 10px;
    color: #bbbbbb;
    font-size: 18px;
    max-width: 250px;
    line-height: 1.6;
}

.footer-menus {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.footer .menu {
    display: flex;
    flex-direction: column;
}

.footer .menu h2 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #f7c94d;
}

.footer .menu a {
    text-decoration: none;
    color: #cccccc;
    margin-bottom: 6px;
    font-size: 14px;
    transition: .3s;
}

.footer .menu a:hover {
    color: #ffffff;
    transform: translateX(5px);
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #333;
    padding-top: 1rem;
}

.footer-bottom p {
    font-size: 13px;
    color: #aaaaaa;
}

/* ✅ RESPONSIVIDADE */
@media (max-width: 850px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .footer-menus {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }
}


@media(max-width:790px){
    header nav{
        justify-content: space-evenly;
        position: fixed;
    }
    header nav .menu-barger{
        display: block;
    }
    header nav ul{
        display: none;
    }
    header nav .call{
        display: none;
    }

    /* hero */
    main, .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    main .icon{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    main .hero .self{
        margin-top: 3rem;
    }

    /* About */
    .about .menu{
        display: flex;
        flex-direction: column;
    }
    .about .menu .about-text{
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding: 10px ;
        border-radius: 7px;
        box-shadow: 0 0 8px #0000004a;
        overflow: hidden;
    }
    .about-text h2{
        text-align: center;
    }
    .about-text .buttons button{
        margin-bottom: 10px;
    }
    .about .menu .about-img, .about h3{
        display: none;
    }
    .about-card{
        display: flex;
        flex-direction: column;
    }
    .about-card .card-men{
        margin-bottom: 10px;
    }

    /* menu-dropdown */
    .menu-dropdown.open{
      display: block;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      z-index: 1;
      animation: identifier 1s alternate;
    }

    @keyframes identifier {
        from{
            transform: translateX(25px);
        }
    }

    /* Projetos */
    .project .men{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
        justify-items: center;
    }

}